@model Shared.EquipmentList
@{
    ViewBag.Title = @Resources.Equipments.ListTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using AsyncPagesMVC.Service;

<h2>@Resources.Equipments.ListTitle</h2>

<table class="table">
    <tr>
        <th>@Resources.Equipments.Image</th>
        <th>@Resources.Equipments.Name</th>
        <th>@Resources.Equipments.Type</th>
        <th></th>
    </tr>

@foreach (var item in Model.Items)
{
<tr>
    <td>
        <img class="thumb" src="@item.Url" />
    </td>
    <td>@item.Name</td>
    <td>@item.Type</td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td>
</tr>
}

</table>
